.ascend
node_modules
dist
bun.lock
src/tcp/routes
output
input
envs
src/extension-data.json
workflows-available
extensions-available
uv.lock
pyproject.toml

# Ignore everything in the extensions/ directory
extensions/*
workflows-enabled/*

# Except these
!extensions/nyno-log/
!extensions/nyno-log/**
!extensions/nyno-echo/
!extensions/nyno-echo/**
!extensions/hello/
!extensions/hello/**
!extensions/hello-py/
!extensions/hello-py/**
!extensions/hello-php/
!extensions/hello-php/**
!extensions/hello-js/
!extensions/hello-js/**
!workflows-enabled/test-languages.json 
!workflows-enabled/test-basic-decision-tree.json
!envs/ports.env
