.ascend
node_modules
dist
bun.lock
src/tcp/routes
output
input
src/extension-data.json
workflows-available
extensions-available
uv.lock
pyproject.toml

# Ignore everything in the extensions/ directory
extensions/*
envs/*
workflows-enabled/*

# Except these extensions
!extensions/nyno-log/
!extensions/nyno-log/**
!extensions/nyno-echo/
!extensions/nyno-echo/**
!extensions/hello/
!extensions/hello/**
!extensions/hello-py/
!extensions/hello-py/**
!extensions/hello-php/
!extensions/hello-php/**
!extensions/hello-js/
!extensions/hello-js/**

# Ignore everything in extensions
extensions/*

# Include specific folders inside extensions
!extensions/ai-openai-image-edit/
!extensions/ai-openai-image-gen/
!extensions/ai-openai-text/
!extensions/hello/
!extensions/hello-php/
!extensions/hello-py/
!extensions/hello-rb/
!extensions/nyno-echo/
!extensions/nyno-extract-file-paths/
!extensions/nyno-extract-hrefs/
!extensions/nyno-http-get/
!extensions/nyno-http-post/
!extensions/nyno-log/
!extensions/nyno-read-file/
!extensions/nyno-scrape/
!extensions/nyno-sql/
!extensions/nyno-transform/
!extensions/nyno-transform-flatten/
!extensions/nyno-write-file/
!extensions/serper-search/



# Except these workflows
!workflows-enabled/test_nyno.nyno 
!workflows-enabled/test_nyno_runners.nyno

# Envs exceptions
!envs/ports.env

# ignore container created db
pgdata


package-lock.json
