
/* global dark style */
body {
  color: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body,
body .react-flow__node-input,
body .react-flow__node-default
{
    background:#03060b;

}

.dialog_content textarea {
background: black;border: 1px solid;color: #5cbffaff;font-size: 18px;padding: 9px;display: block;box-sizing: border-box;
}


.dialog_content fieldset {
background: black;
color: #5cbffaff!important;
}

.dialog_content fieldset label{
color: #5cbffaff!important;
}
.dialog_content fieldset input {
color: #5cbffaff!important;
font-size: 18px;
}

body .react-flow__node-input,
body .react-flow__node-default
{
  z-index: 0;
  transform: translate(0px);
  pointer-events: all;
  visibility: visible;
  color: white;
  border: 1px solid #113743;
}

.react-flow__handle {
  border: 1px solid #113743!important;
}

.react-flow__edge-path, .react-flow__connection-path {
  stroke: #009ad5!important;
}
