
/* global dark style */
body {
  color: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body,
body .react-flow__node-input,
body .react-flow__node-default
{
    background:#03060b;

}

.dialog_content textarea, .rnh_textarea {
background: black;border: 1px solid;color: #5cbffaff;font-size: 18px;padding: 9px;display: block;box-sizing: border-box;
box-shadow:none!important;
outline:none!important;
}


.dialog_content fieldset {
background: black;
color: #5cbffaff!important;
}

.dialog_content fieldset label{
color: #5cbffaff!important;
}
.dialog_content fieldset input {
color: #5cbffaff!important;
font-size: 18px;
}

body .react-flow__node-input,
body .react-flow__node-default
{
  z-index: 0;
  transform: translate(0px);
  pointer-events: all;
  visibility: visible;
  color: white;
  border: 1px solid #113743;
}

.react-flow__handle {
  border: 1px solid #113743!important;
}

.react-flow__edge-path, .react-flow__connection-path {
  stroke: #009ad5!important;
}

.node-emoji {
  display: block;
  font-size: 21px;
  margin-bottom: 6px;
}


.rnh_button {     background: #01b3f7;   border: 1px solid #0c9af8;   padding: 6px 15px;   border-radius: 9px;   margin: 9px;   font-size: 1.2rem; cursor:pointer; color:black;}
.rnh_popup {   position: fixed;   right: 0;   top: 0;   bottom: 0;   background: #03060b !important;   width: 333px;   z-index: 9999;   overflow: scroll;   padding-top: 4rem;   
  padding: 4rem 2rem;   box-sizing: border-box;
  padding: 5rem 2rem;
  box-sizing: border-box;
  border-left: 1px solid #03131e;
  background: #020409 !important;
background: #000d22 !important;
background:#00050d !important;
 }

.rnh_close {position: fixed;top: 1.1rem;right: 187px;background: #03060b;border: none;color: white;cursor: pointer;}

.rnh_btn_save {
  position: fixed;
 
  right: 6px;
  bottom: 9px;
}

.rnh_result, .chat-message {
  background: #2f3339;
  padding: 15px;
  border-radius: 9px;
  margin: 1rem 0;
  background: #04080f;padding: 15px;border-radius: 9px;margin: 1rem 0;overflow: scroll;
}

.chat-message{
white-space: normal;
}

.chat-message > p {
margin:0;
}

.react-flow__node.node-executed {
  border: 1px solid #01b3f7!important;
  box-shadow: 0 0 5.1px #01b3f7!important;
}

.react-flow__attribution a {

  display: none;
}


body { background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 20, 51)); background: linear-gradient(to right, rgb(0, 20, 51),rgb(0, 0, 0));
background:linear-gradient(to right, rgb(0, 27, 70),rgb(0, 0, 0));
} 
.chat-message {} 
.rnh_close {position: fixed;top: 1.1rem;right: 187px;background: #000f25; }

button {
  background: #191f2a;
  color: #fff;
  border: 1px solid #3c3c3c;
  padding: 8.1px 15px;
  border-radius: 9px;
  margin: 6px;
    margin-right: 9px;
  font-size: 1.2rem;
  cursor: pointer;
}

.rnh_close {
  position: fixed;
  top: 0;
  right: 187px;
  background: #00050d;
  opacity: 0.5;
}

@media(max-width:700px) {
.ghh_badge{
	display:none!important;
}
}

.page-nynoagent input {
  background: black;
  border: none;
  color: white;
  padding: 9px;
  margin-right:6px;
}

.dialog_content{
  max-height:81dvh;
  overflow-y:scroll;
}
label{
  display:block;
}